@import "./base.css";
@import "./components.css";
@import "./theme.css";
@import "./utilities.css";

/* layout */

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--color-slate-100);
  color: var(--color-white);
}

header {
  position: sticky;
  top: 0;
  font-weight: bold;
  background: var(--color-red-400);
  border-bottom-width: 1px;
  border-color: var(--color-transparent-300);

  &.home {
    width: 100%;
    background: none;
    border-bottom-width: 0;
  }

  * {
    display: inline-block;
  }
}

@media (min-height: 600px) {
  header {
    &.home {
      position: fixed;
    }
  }
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;

  h1 {
    font-size: 140%;
  }

  li {
    a {
      padding: 1rem 2rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

footer {
  padding: 1rem;
  text-align: center;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

section {
  padding: 2rem 3rem;
  width: 100%;

  &.section-small {
    max-width: 30rem;
  }

  &.section-medium {
    max-width: 40rem;
  }
}

.section-container {
  display: flex;
  flex-direction: column;
}
