@import "./base.css";
@import "./components.css";
@import "./theme.css";
@import "./utilities.css";

/* layout */

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: var(--font-nunito-sans);
  background-color: var(--color-primary);
  color: var(--color-white);
}

header {
  position: sticky;
  top: 0;
  font-weight: bold;
  background: var(--color-accent);
  border-bottom-width: 1px;
  border-color: var(--color-transparent-300);

  &.home {
    position: fixed;
    width: 100%;
    background: none;
    border-bottom-width: 0;
  }

  * {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  header {
    &.home {
      display: none;
    }
  }
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;

  h1 {
    font-size: 140%;

    a {
      text-decoration: none;
    }
  }

  ul {
    list-style: none;
  }

  li {
    a {
      padding: 1rem 2rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

footer {
  padding: 1rem;
  text-align: center;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;

  &.justify-center {
    justify-content: center;
  }
}

section {
  padding: 2rem 3rem;
  width: 100%;

  &.section-small {
    max-width: 30rem;
  }

  &.section-medium {
    max-width: 40rem;
  }
}

.section-container {
  display: flex;
  flex-direction: column;

  &:nth-child(even) {
    background-color: var(--color-secondary);
  }
}
