:root {
  /* red */
  --color-red-400: hsl(357, 80%, 42%);
  --color-red-500: hsl(357, 80%, 48%);

  /* slate */
  --color-slate-100: hsl(230, 10%, 3%);
  --color-slate-200: hsl(230, 10%, 5%);

  /* neutral */
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);

  /* transparent */
  --color-transparent-300: hsla(0, 0%, 100%, 30%);
}
