/* backgrounds 8 */

.bg-slate-100 {
  background-color: var(--color-slate-100);
}

.bg-slate-200 {
  background-color: var(--color-slate-200);
}

/* box alignment */

.justify-center {
  justify-content: center;
}

.self-center {
  align-self: center;
}

.self-right {
  align-self: flex-end;
}

/* typography */

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.no-decoration {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.normal-case {
  text-transform: none;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}
