/* BACKGROUNDS */

/* background-color */

.bg-slate-100 {
  background-color: var(--color-slate-100);
}

.bg-slate-200 {
  background-color: var(--color-slate-200);
}

/* BOX ALIGNMENT */

/* justify-content */

.justify-center {
  justify-content: center;
}

/* justify-content */

.self-center {
  align-self: center;
}

.self-right {
  align-self: flex-end;
}

/* TYPOGRAPHY */

/* font-size */

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

/* font-size */

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-4xl {
  font-size: 2.25rem;
}

/* list-style-type */

.list-none {
  list-style: none;
}

.list-disc {
  list-style: disc;
}

.list-decimal {
  list-style: decimal;
}

/* text-align */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/* text-decoration */

.no-decoration {
  text-decoration: none;
}

.line-through {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

/* text-transform */

.normal-case {
  text-transform: none;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}
